@import 'nib'
topnav-background-color =  #ac4142
topnav-nav-background-color = darken(topnav-background-color, 55%)

html, body
  height: 100%
  //font-family "PT Sans", Helvetica, Arial, sans-serif
  //font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-family "Abril Fatface", serif
  font-size: 16px



.logo
  font-size 5rem
  font-weight 600
  font-family serif
  color snow
  position absolute
  left 1rem
  top 0rem

.sidebar
  padding 0
  color rgba(255,255,255,.5)
  background: linear-gradient(top, topnav-background-color, topnav-nav-background-color)
  a
    color #fff

.sidebar-about
  h1
    text-align center
    color #fff
    margin-top 0
    font-family "Abril Fatface", serif
    font-size 2.5rem
    //&:before
    //font-family serif
    //content '& '

.sidebar-nav
  //background-color: topnav-nav-background-color
  font-size: 1.4rem
  text-align center
  padding-left 0
  list-style none

.sidebar-nav-item
  font-size: 1.1rem
  display inline-block
  padding 0 3%
  margin: 0.2rem 0
  border-right: 1px solid snow
  &.active
    font-weight bold

.sidebar-nav-item:last-child
  border-right: none
  
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus
  text-decoration underline

.content
  padding-bottom 2rem
  margin 0 auto
  max-width 48rem

.content a, .related-posts li a:hover
  color topnav-background-color 

.page-wrap
  min-height: 100%;
  margin: 0 auto -4em;

footer
  text-align: center
  background-color: topnav-background-color
  color: snow
  padding-top: 1em
  a 
    color: snow;
    text-decoration: none;


footer, .push
  height: 4em;
  font-size: 1.1rem
  clear: both;


@media (min-width: 48rem)
  html
    font-size: 16px
  .sidebar-about h1 
    font-size: 4rem
  .sidebar-nav-item a
    font-size: 1.5rem
