@import "poole.css"
@import 'nib'

topnav-background-color =  #ac4142
topnav-nav-background-color = darken(topnav-background-color, 55%)

divider()
  content: "";
  display: block;
  margin: 1em 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0980392), rgba(0, 0, 0, 0.0980392), rgba(0, 0, 0, 0));


html, body
  height: 100%
  font-family "Open Sans", Helvetica, Arial, sans-serif
  font-size: 16px

h1, h2, h3
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;

h1.space-below-1
  padding-bottom: 0.5em

  
.sidebar
  padding 0
  color rgba(255,255,255,.5)
  background: snow //topnav-background-color
  a
    color #fff

.sidebar-about
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  h1
    text-align center
    color #fff
    //opacity: 0.7
    margin-top 0
    font-size 2.5rem
    background: snow
    color: topnav-background-color
    font-weight: 700
    span
      font-size: 2em
      color: snow
      background: topnav-background-color
      position: relative
      top: 0.06em
      padding: 0 0.15em

    i
      font-weight: 400


.sidebar-nav
  font-size: 1.4rem
  text-align center
  padding-left 0
  list-style none
  background: topnav-background-color

.sidebar-nav-item
  font-size: 1.1rem
  display inline-block
  padding 0 3%
  margin: 0.2rem 0
  border-right: 1px solid snow
  &.active
    font-weight bold

.sidebar-nav-item:last-child
  border-right: none
  
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus
  text-decoration underline

.container
  padding: 0 0.5em

.content
  padding-bottom 2rem
  margin 0 auto
  max-width 52em
  p
    text-align: justify

.content a, .related-posts li a:hover
  color topnav-background-color 

.post h1
  font-size: 1.6rem
.post:after
  divider()


.page-wrap
  min-height: 100%;
  margin: 0 auto -4em;

footer
  border-top: 1px solid #808080
  text-align: center
  background-color: lighten(topnav-background-color, 19%) //#eeeeee
  color: snow 

  a, span
    padding: 0 0.5em
    color: snow //topnav-background-color
    border-right: 1px solid topnav-background-color
  a:last-child
    border: 0

footer, .push
  padding-top: 1em
  height: 3.5em;
  font-size: 1.1rem
  clear: both;


@media (max-width: 48em)
  .push
    height: 0
  footer
    height: 4em
  img
    max-width: 16em
    margin 0 auto 1em auto
    float: none
  h1
    font-size: 1.5rem


@media (min-width: 48em)
  html
    font-size: 16px
  .sidebar-about h1 
    font-size: 4rem
  .sidebar-nav-item a
    font-size: 1.5rem
